.topbrands {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
  padding: 10px 0px;
}

h3.topbrand-tit {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #ee2835;
  margin-bottom: 0;
  margin-left: 15px;
}

.Line {
  background: #fdfeff;
  border: 1px solid #f7f2f2;
}

svg.off-canvas-chevron.iconify.iconify--system-uicons {
  transform: scale(1.5);
}

.title-wrap {
  display: flex;
}

.offcanvas {
  width: 80% !important;
}

h3.topbrand-tit.sub {
  margin-left: 35px;
  margin-top: 10px;
  color: black;
}

h3.topbrand-tit.trending {
  color: black;
}

.title-wrap .icon-wrap-off {
  width: 20px;
  text-align: center;
}

.off-submenu {
  padding-bottom: 10px;
}

a.off-links {
  color: black;
  text-decoration: none;
  padding: 10px 0px;
}

.more-links {
  display: flex;
  flex-direction: column;
}

.off-c.only-lang .lang-wrap {
  align-items: center;
  background: #f8f8f9;
  border-radius: 20px;
  color: #000;
  display: flex;
  padding: 7px 8px;
}
